<ion-content [fullscreen]="true">
  <div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                  <h6 class="card-title">Upcoming Events</h6>
                  <div id="content">
                      <ul class="timeline">
                          <li class="event" data-date="23 April 2023">
                              <h3>S.P.I.T Marathon 2023</h3>
                              <p>Run an extra mile.</p>
                          </li>
                          <li class="event" data-date="28 April 2023">
                            <h3>Oculus</h3>
                            <p>Sardar Patel Institute of Technology is back with much more energy and enthusiasm with its 5th edition of the Annual Techno-Cultural Fest, OCULUS. The fest has a galore of events from hopping on to cultural events to brainstorming at the Technical ones and ending with the euphoric pronites.</p>
                        </li>
                          <li class="event" data-date="30 April 2023">
                              <h3>Annual Day</h3>
                              <p>Get ready for an exciting event.</p>
                          </li>
                
                          <li class="event" data-date="8:30 - 9:30pm">
                              <h3>Closing Ceremony</h3>
                              <p>See how is the victor and who are the losers. The big stage is where the winners bask in their own glory.</p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</ion-content>
